<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node-Rpi-Monitor</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/monitor.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h3 class="text-center">Pi</h3>
      </div>
    </div>
    
    <div class="row">
       <div class="large-12 columns">
        <div class="panel grey">
          
          <p class="right">
            <span class="label">
              <i class="icon-temperature"></i>43°C
            </span>
            <span class="label secondary">
              <i class="icon-gauge"></i><%= cpu.cpus[0].speed %>
            </span>
          </p>      
          <h5>CPU <small><%= cpu.cpus[0].model %></small></h5>  
       
          <div class="chart cpu">

          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="large-6 columns">
        <div class="panel yellow">
          <h5>Hard drives</h5>
          <ul class="small-block-grid-<%= hdd.length%>">

            <% for(var i in hdd) { %>
              <li>
                <div class="chart hdd" data-used="<%= parseFloat(hdd[i].percent) %>">

                </div>
                <h5><%= i %> <br><small><%= hdd[i].free %> / <%= hdd[i].used %></small></h5>
              </li>
            <% } %>
          </ul>
        </div>
      </div>

      <div class="large-6 columns">
        <div class="panel orange">
          <h5>Memory <small>231.51 MB / 437.67 MB</small></h5>
          <div class="chart memory" data-used="<%= parseFloat(memory.percent) %>">
          </div>

          <div class="chart memory-usage">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="large-12 columns">
        <div class="panel grey">

          <ul class="small-block-grid-2">
            <li>
              <h5><%= os.type %> <%= os.arch %> <%= os.release %></h5>
              <h6><%= os.uptime %></h6>
            </li>
            <li>          
              <h5><%= network.hostname %></h5>
              <ul style="list-style-type:none;">
                <% for(var i in network) {
                  if(i !== 'hostname') {
                  %>
                  <li><%= i %>
                    <ul style="list-style-type:none;">
                    <% for(var j in network[i]) {%>
                      <li><%= network[i][j].address %> (<%= network[i][j].family %>) <span class="label secondary"><%= network[i][j].internal == true ? 'Internal' : 'External' %></span> 
                    <% } %>
                    </ul>
                  </li>

                <% }
                    } %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="row">
      <div class="large-12 columns text-center">
        <small>
          <a href="//github.com/soyuka/node-rpi-monit">Node rpi monitor</a>
        </small>
        <br><br>
      </div>
    </footer>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/app.js"></script>
    <script>
$(function () {

    function requestData() {
      // $.ajax({
      //     url: 'live-server-data.php',
      //     success: function(point) {
      //         var series = chart.series[0],
      //             shift = series.data.length > 20; // shift if the series is 
      //                                              // longer than 20

      //         // add the point
      //         chart.series[0].addPoint(point, true, shift);
              
      //         // call it again after one second
      //         setTimeout(requestData, 1000);    
      //     },
      //     cache: false
      // });
    }

    Highcharts.setOptions({
        global: {
            useUTC: false
        },
        title: {
          style: {
            display: 'none'
          }
        },
        chart: {
          backgroundColor: 'rgba(0,0,0,0)',
          borderColor: 'rgba(0,0,0,0)',
          spacing: [0,0,0,0],
        },
        tooltip: {
          pointFormat: '{point.percentage:.1f}%'
        },
        credits: {
          enabled: false
        },
        plotOptions: {
          pie: {
            borderColor: 'rgba(0,0,0,0)',
            dataLabels: {
              enabled: false
            }
          },
          line: {
            enableMouseTracking: false,
            marker: {
              enabled: false,
            }
          },
          area: {
            states: {
              hover: {
                enabled: false
              }
            },
            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 2,
                states: {
                    hover: {
                        enabled: false
                    },
                    select: {
                      enabled: false
                    }
                }
            }
          },
        },
        legend: {
          enabled: false
        },
    });
 
    $('.chart.hdd').each(function(i, e) {
      var used = parseFloat($(e).attr('data-used'));

      var datas = [
        ['Used', used], 
        ['Free', 100-used]
      ];

      $(e).highcharts({
        chart: {
          height: 150,
        },
        colors: ['#53777A', '#e6c04b'],
        series: [{
            type: 'pie',
            data: datas
        }]
    });
  });
    
$('.chart.memory').highcharts({
   chart: {
      height: 50,
      width: 150,
      events: {
        load: function() {
          var self = this;

          //setInterval
          $.get('/memory', function(data) {

            self.series[0].setData([
              {name: "Used", y: parseFloat(data.percent)},
              {name: "Free", y: 100 - parseFloat(data.percent)}
            ], true);

          }, 'json');
        }
      } 
    },
    colors: ['#ECD078','#c24027'],
    tooltip: {
      positioner: function() {
        return { x: 0, y: 0 };
      },
      shadow: false,
      backgroundColor: 'rgba(0,0,0,0)',
      borderColor: 'rgba(0,0,0,0)'
    },
    series: [{
        type: 'pie'
    }]
});


var getMemoryUsage = function(self) {
  $.get('/stats/memory', function(data) {
    self.series[0].setData(data);
  }, 'json');
};

$('.chart.memory-usage').highcharts({
  chart: {
      height: 208,
      events: {
        load: function() {
          var self = this;
          
          getMemoryUsage(self);

          setInterval(function() {
            getMemoryUsage(self);
            
          }, <%= intervals.memory %>)
         
        }
      } 
    },
  colors: ['#ECD078'],
  tooltip: {
    enabled: false
  },
  xAxis: {
        type: 'datetime',
        tickPixelInterval: 100,
        lineColor: '#c24027',
        tickColor: '#c24027',
        labels: {
          style: {
            color: '#333'
          },
          formatter: function() {
            var date = new Date(this.value).toLocaleTimeString();
            return date;
          }
        },
    },
    yAxis: {
      title: {
        text: null
      },
      gridLineColor: '#c24027',
        tickColor: '#333',
      labels: {
        style: {
            color: '#333'
          },
        formatter: function() {
          return Math.round(this.value/1024/1024) + ' MB';
        }
      }
    },
  series: [{
    type: 'line',
  }]
})

var getCPUUsage = function(self) {
   $.get('/stats/cpu', function(data) {

    self.series[0].setData(data.temp);
    
    for(var i in data.loadavg) {
      var n = parseInt(i)+1;
      self.series[n].setData(data.loadavg[i].data);
    }
  }, 'json');
}

$('.chart.cpu').highcharts({
    chart: {
        type: 'area',
        height: 200,
        events: {
        load: function() {
            var self = this;
            
            getCPUUsage(self);

            setInterval(function() {
              getCPUUsage(self);
              
            }, <%= intervals.cpu %>)
           
          }
        } 
    },
    colors: ['#53777A','#542437','#D95B43'],
    xAxis: {
        type: 'datetime',
        tickPixelInterval: 100,
        labels: {
          formatter: function() {
            var date = new Date(this.value).toLocaleTimeString();
            return date;
              //return new Date(this.value).toLocalString();
          }
        },
    },
    yAxis: [{
      title: {
        text: null
      }
    }, {
      title: {
        text:null
      },
      gridLineColor: '#b6ab9e',

      min: 0,
      max: 100,
      opposite: true
    }],
    legend: {
      enabled: true,
    },
    tooltip: {
        enabled: false,
    },
    plotOptions: {
        line: {
          color: '#C02942'
        }
    },
    series : 
  [
    {
      name: "temp",
      yAxis: 1,
      zIndex: 5,
      type: "line",
    },
    {
       zIndex: 2,
        name: "1 min",
    },
    {
      zIndex: 3,
      name: "5 min",
    },
    {
      zIndex: 4,
      name: "10 min",
    }
  ]
});
/**
 * {
      zIndex: 4,
      "name": "1 min",
      "data": [
        {
          "x": 1387667731770,
          "y": 0.00439453125
        },
        {
          "x": 1387667741290,
          "y": 0.0771484375
        },
        {
          "x": 1387667751319,
          "y": 0.06494140625
        },
        {
          "x": 1387667761338,
          "y": 0.0546875
        },
        {
          "x": 1387667771363,
          "y": 0.04638671875
        },
        {
          "x": 1387667781391,
          "y": 0.0390625
        },
        {
          "x": 1387667789090,
          "y": 0.11328125
        },
        {
          "x": 1387667798629,
          "y": 0.095703125
        },
        {
          "x": 1387667808649,
          "y": 0.0810546875
        },
        {
          "x": 1387667818878,
          "y": 0.06884765625
        },
        {
          "x": 1387667828716,
          "y": 0.05859375
        },
        {
          "x": 1387667838737,
          "y": 0.04931640625
        },
        {
          "x": 1387667848758,
          "y": 0.0419921875
        },
        {
          "x": 1387667858783,
          "y": 0.03564453125
        },
        {
          "x": 1387667868810,
          "y": 0.0302734375
        },
        {
          "x": 1387667878839,
          "y": 0.025390625
        },
        {
          "x": 1387667888866,
          "y": 0.021484375
        },
        {
          "x": 1387667898899,
          "y": 0.01806640625
        },
        {
          "x": 1387667908919,
          "y": 0.01513671875
        },
        {
          "x": 1387667918942,
          "y": 0.01318359375
        },
        {
          "x": 1387667928970,
          "y": 0.01123046875
        },
        {
          "x": 1387667938997,
          "y": 0.00927734375
        },
        {
          "x": 1387667949039,
          "y": 0.0078125
        },
        {
          "x": 1387667959070,
          "y": 0.0068359375
        },
        {
          "x": 1387667969097,
          "y": 0.005859375
        },
        {
          "x": 1387667979133,
          "y": 0.0048828125
        },
        {
          "x": 1387667989155,
          "y": 0.00390625
        },
        {
          "x": 1387667999180,
          "y": 0.0029296875
        },
        {
          "x": 1387668009210,
          "y": 0.0029296875
        },
        {
          "x": 1387668019241,
          "y": 0.0029296875
        },
        {
          "x": 1387668029263,
          "y": 0.0029296875
        },
        {
          "x": 1387668039291,
          "y": 0.0029296875
        },
        {
          "x": 1387668049318,
          "y": 0.0029296875
        },
        {
          "x": 1387668059351,
          "y": 0.0029296875
        },
        {
          "x": 1387668069383,
          "y": 0.0029296875
        },
        {
          "x": 1387668079411,
          "y": 0.0029296875
        },
        {
          "x": 1387668089437,
          "y": 0.0029296875
        },
        {
          "x": 1387668099467,
          "y": 0.0029296875
        }
      ]
    },
    {
      zIndex: 3,
      "name": "5 min",
      "data": [
        {
          "x": 1387667731770,
          "y": 0.0302734375
        },
        {
          "x": 1387667741290,
          "y": 0.04541015625
        },
        {
          "x": 1387667751319,
          "y": 0.04345703125
        },
        {
          "x": 1387667761338,
          "y": 0.04248046875
        },
        {
          "x": 1387667771363,
          "y": 0.04150390625
        },
        {
          "x": 1387667781391,
          "y": 0.04052734375
        },
        {
          "x": 1387667789090,
          "y": 0.05615234375
        },
        {
          "x": 1387667798629,
          "y": 0.05419921875
        },
        {
          "x": 1387667808649,
          "y": 0.05224609375
        },
        {
          "x": 1387667818878,
          "y": 0.05029296875
        },
        {
          "x": 1387667828716,
          "y": 0.04833984375
        },
        {
          "x": 1387667838737,
          "y": 0.04638671875
        },
        {
          "x": 1387667848758,
          "y": 0.04443359375
        },
        {
          "x": 1387667858783,
          "y": 0.04296875
        },
        {
          "x": 1387667868810,
          "y": 0.0419921875
        },
        {
          "x": 1387667878839,
          "y": 0.041015625
        },
        {
          "x": 1387667888866,
          "y": 0.0400390625
        },
        {
          "x": 1387667898899,
          "y": 0.0390625
        },
        {
          "x": 1387667908919,
          "y": 0.0380859375
        },
        {
          "x": 1387667918942,
          "y": 0.037109375
        },
        {
          "x": 1387667928970,
          "y": 0.0361328125
        },
        {
          "x": 1387667938997,
          "y": 0.03515625
        },
        {
          "x": 1387667949039,
          "y": 0.0341796875
        },
        {
          "x": 1387667959070,
          "y": 0.033203125
        },
        {
          "x": 1387667969097,
          "y": 0.0322265625
        },
        {
          "x": 1387667979133,
          "y": 0.03125
        },
        {
          "x": 1387667989155,
          "y": 0.0302734375
        },
        {
          "x": 1387667999180,
          "y": 0.029296875
        },
        {
          "x": 1387668009210,
          "y": 0.0283203125
        },
        {
          "x": 1387668019241,
          "y": 0.02734375
        },
        {
          "x": 1387668029263,
          "y": 0.0263671875
        },
        {
          "x": 1387668039291,
          "y": 0.025390625
        },
        {
          "x": 1387668049318,
          "y": 0.0244140625
        },
        {
          "x": 1387668059351,
          "y": 0.0234375
        },
        {
          "x": 1387668069383,
          "y": 0.0224609375
        },
        {
          "x": 1387668079411,
          "y": 0.021484375
        },
        {
          "x": 1387668089437,
          "y": 0.0205078125
        },
        {
          "x": 1387668099467,
          "y": 0.01953125
        }
      ]
    },
    {
      zIndex: 2,
      "name": "10 min",
      "data": [
        {
          "x": 1387667731770,
          "y": 0.04541015625
        },
        {
          "x": 1387667741290,
          "y": 0.05029296875
        },
        {
          "x": 1387667751319,
          "y": 0.04931640625
        },
        {
          "x": 1387667761338,
          "y": 0.04833984375
        },
        {
          "x": 1387667771363,
          "y": 0.04736328125
        },
        {
          "x": 1387667781391,
          "y": 0.04638671875
        },
        {
          "x": 1387667789090,
          "y": 0.05078125
        },
        {
          "x": 1387667798629,
          "y": 0.0498046875
        },
        {
          "x": 1387667808649,
          "y": 0.048828125
        },
        {
          "x": 1387667818878,
          "y": 0.0478515625
        },
        {
          "x": 1387667828716,
          "y": 0.046875
        },
        {
          "x": 1387667838737,
          "y": 0.0458984375
        },
        {
          "x": 1387667848758,
          "y": 0.04541015625
        },
        {
          "x": 1387667858783,
          "y": 0.04541015625
        },
        {
          "x": 1387667868810,
          "y": 0.04541015625
        },
        {
          "x": 1387667878839,
          "y": 0.04541015625
        },
        {
          "x": 1387667888866,
          "y": 0.04541015625
        },
        {
          "x": 1387667898899,
          "y": 0.04541015625
        },
        {
          "x": 1387667908919,
          "y": 0.04541015625
        },
        {
          "x": 1387667918942,
          "y": 0.04541015625
        },
        {
          "x": 1387667928970,
          "y": 0.04541015625
        },
        {
          "x": 1387667938997,
          "y": 0.04541015625
        },
        {
          "x": 1387667949039,
          "y": 0.04541015625
        },
        {
          "x": 1387667959070,
          "y": 0.04541015625
        },
        {
          "x": 1387667969097,
          "y": 0.04541015625
        },
        {
          "x": 1387667979133,
          "y": 0.04541015625
        },
        {
          "x": 1387667989155,
          "y": 0.04541015625
        },
        {
          "x": 1387667999180,
          "y": 0.04541015625
        },
        {
          "x": 1387668009210,
          "y": 0.04541015625
        },
        {
          "x": 1387668019241,
          "y": 0.04541015625
        },
        {
          "x": 1387668029263,
          "y": 0.04541015625
        },
        {
          "x": 1387668039291,
          "y": 0.04541015625
        },
        {
          "x": 1387668049318,
          "y": 0.04541015625
        },
        {
          "x": 1387668059351,
          "y": 0.04541015625
        },
        {
          "x": 1387668069383,
          "y": 0.04541015625
        },
        {
          "x": 1387668079411,
          "y": 0.04541015625
        },
        {
          "x": 1387668089437,
          "y": 0.04541015625
        },
        {
          "x": 1387668099467,
          "y": 0.04541015625
        }
      ]
    }
 */

        // var chart;
        // $('.chart.cpu').highcharts({
        //     chart: {
        //         type: 'spline',
        //         animation: Highcharts.svg, // don't animate in old IE
        //         marginRight: 10,
        //         height: 160,
        //         events: {
        //             load: function() {
    
        //                 // set up the updating of the chart each second
        //                 var series = this.series[0];
        //                 setInterval(function() {
        //                     var x = (new Date()).getTime(), // current time
        //                         y = Math.random();
        //                     series.addPoint([x, y], true, true);
        //                 }, 1000);
        //             }
        //         }
        //     },
        //     xAxis: {
        //         type: 'datetime',
        //         tickPixelInterval: 150,
        //         gridLineColor: '#333',
        //         lineColor: '#333',
        //         tickColor: '#333',
        //         labels: {
        //           style: {
        //             color: '#333'
        //           }
        //         },
        //     },
        //     yAxis: {
        //         title: {
        //             text: 'Value'
        //         },
        //         labels: {
        //           style: {
        //             color: '#333'
        //           }
        //         },
        //         gridLineColor: '#333',
        //         lineColor: '#333',
        //         plotLines: [{
        //             value: 0,
        //             width: 1,
        //             color: '#808080'
        //         }]
        //     },
        //     tooltip: {
        //         formatter: function() {
        //                 return '<b>'+ this.series.name +'</b><br/>'+
        //                 Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
        //                 Highcharts.numberFormat(this.y, 2);
        //         }
        //     },
        //     plotOptions: {
        //       spline: {
        //         color: '#53777A'
        //       }
        //     },
        //     legend: {
        //         enabled: false
        //     },
        //     exporting: {
        //         enabled: false
        //     },
        //     series: [{
        //         name: 'Random data',
        //         data: (function() {
        //             // generate an array of random data
        //             var data = [],
        //                 time = (new Date()).getTime(),
        //                 i;
    
        //             for (i = -19; i <= 0; i++) {
        //                 data.push({
        //                     x: time + i * 1000,
        //                     y: Math.random()
        //                 });
        //             }
        //             return data;
        //         })()
        //     }]
        // });

});

    </script>
  </body>
</html>
